.successOverlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.55);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.successCard{
width:420px;
max-width:95%;
background:white;
border-radius:20px;
padding:35px;
text-align:center;
animation:pop .4s ease;
}

@keyframes pop{

0%{
transform:scale(.7);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}

.checkCircle{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
background:#22c55e;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:45px;
margin-bottom:20px;
}

.message{
margin:15px 0 25px;
color:#666;
}

.details{
background:#f8f8f8;
padding:20px;
border-radius:12px;
text-align:left;
margin-bottom:25px;
}

.details p{
margin-bottom:15px;
}

.continueBtn{
width:100%;
padding:14px;
border:none;
background:#00C3F7;
color:white;
font-size:17px;
border-radius:10px;
cursor:pointer;
}

.continueBtn:hover{
background:#0aa4d1;
}